<% @students.each do |student| %>
  <h1><%= student.to_s %></h1>
<% end %>


<!--Map an index.html.erb view file to the student controller and iterate over the list of students returned from the index action in the controller. -->